:root {
  --yellowShade: #f9c531;
  --violetShade: #2b2d5d;
  --pinkShade: #f94b6e;
  --violetLightShade: #22234f;
  --whiteShadeOne: #fafafa;
  --blueShade: #626fef;

}

body {
  /* background: linear-gradient(to bottom left, var(--yellowShade) 50%, var(--violetShade) 50%) no-repeat fixed; */
  background: linear-gradient(to top left, var(--yellowShade) 50%, var(--violetShade) 50%) no-repeat fixed;
  color: white;
  /* font-size: 20px; */
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}


.container {
  width: 100vw !important;
  height: 100vh !important;
  padding-top: 54px !important;
}

.frmMrgn {
  margin: 0 auto !important;
}

form {
  max-width: 25em;
  margin: 1em auto;
  overflow: hidden;
}

form input {
  margin: 5px;
  border-radius: 5px;
  border: 1px var(--pinkShade);
  outline: none;
  background-color: #22234f;
  color: #fafafa;
}

form input::placeholder {
  color: #fafafa;
}

form h1 {
  background: linear-gradient(to bottom right, var(--pinkShade) 50%, var(--yellowShade) 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.buttonCustom {
  color: white !important;
  border: none !important;
  margin: 4px !important;
  font-weight: bold !important;

}

.btnColVioletShadeAddTodo {
  /* width: 150px !important; */
  background-color: var(--violetShade) !important;
}

.btnColPinkShade {
  width: 150px !important;
  background-color: var(--pinkShade) !important;
}

/* form button:hover {
  background-color: var(--yellowShade) !important;
  color: var(--violetShade) !important;
} */

.centerAlign {
  align-items: center;
}

.btn.disabled,
.btn:disabled {
  opacity: .45 !important;
  cursor: not-allowed !important;
}

form p {
  color: white;
  font-size: 20px;
}

.cardParent {
  /* width: 80%; */
  margin: 0 auto;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) {
  .cardParent {
    width: 80%;
  }
}

@media only screen and (min-device-width: 1024px) {
  .cardParent {
    width: 60%;
  }
}

.list-group {
  overflow-x: hidden;
  overflow-y: auto;
  --webkit-overflow-scrolling: touch;
  max-height: 50vh;
}

.lstItem {
  padding: 10px !important;
  justify-content: space-evenly !important;
}

.list-group :nth-child(even) .tt {
  color: var(--pinkShade);
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  word-break: break-word;
  margin-left: 10px;
}

.list-group :nth-child(odd) .tt {
  color: var(--violetShade);
  font-weight: bold;
  font-size: 16px;
  width: 40%;
  word-break: break-word;
  margin-left: 10px;
}

.list-group .badge {
  color: white;
  font-size: 14px;
  width: 70px;
  align-self: center;
  justify-content: center;
}

.list-group .iconWork {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.list-group .iconWork:img {
  height: 20px;
  width: 20px;
}

.customBdg {
  padding: 5px !important;
  align-items: center !important;
}

.ft {
  height: 60px;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--violetShade);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/**** ------------------------- scrollbar -----------------***/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: transparent; */
  background: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: transparent; */
  background: var(--pinkShade);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--violetShade);
}

.nonClick {
  opacity: 0.3;
  pointer-events: none;
}



.swal2-styled:focus {
  box-shadow: none !important
}